.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    width: 100%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}