@import url("/assets/styles/variaveis.css");

/*TEXTO*/
h1 {
    color: var(--texto-branco);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    height: 120px;
}

.button i {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Botões com cores */
.button-clientes { background-color: var(--tag-azul); }
.button-veiculos { background-color: var(--tag-laranja); }
.button-alugueis { background-color: var(--tag-laranja); }
.button-manutencoes { background-color: var(--tag-amarela); }
.button-multas { background-color: var(--tag-vermelha); }
.button-contratos { background-color: var(--tag-azul); }
.button-usuarios { background-color: var(--tag-verde); }
.button-logs { background-color: var(--tag-verde); }

.button:hover {
    opacity: 0.9;
}

/* RESPONSIVIDADE */

/* Para telas menores que 992px (tablets em modo paisagem e menor) */
@media (max-width: 992px) {
    .buttons-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    h1 {
        font-size: calc(var(--titulo-size-desktop) - 10px);
    }
}

/* Para telas menores que 768px (tablets em modo retrato e menor) */
@media (max-width: 768px) {
    .buttons-container {
        grid-template-columns: 1fr; /* Uma coluna */
        gap: 20px;
    }

    .button {
        height: 100px;
        font-size: 16px;
    }

    .button i {
        font-size: 30px;
    }

    h1 {
        font-size: calc(var(--titulo-size-desktop) - 15px);
    }
}

/* Para telas menores que 576px (smartphones) */
@media (max-width: 576px) {
    .buttons-container {
        grid-template-columns: 1fr; /* Uma coluna */
        gap: 15px;
    }

    .button {
        height: 90px;
        font-size: 14px;
    }

    .button i {
        font-size: 25px;
    }

    h1 {
        font-size: calc(var(--titulo-size-desktop) - 20px);
    }
}
