.card {
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 17vw;
    font-size: 1vw;
    padding: 1vw;
    transition: 0.3s;
    background: transparent;
    border: none;
}