@import url("/assets/styles/variaveis.css");

main{
    background-color: var(--fundo-gerenciamento);
}

.h1 {
    color: var(--primary-color);
}

.h3 {
    color: var(--texto-preto); 
}

.search{
    width: 100%;
}