@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,400;0,600;1,400&display=swap');
:root{
    /*FONTES*/
    --titulo-font-family: "Anton", sans-serif;
    --texto-font-family: "Poppins", sans-serif;
    /*PESOS*/
    --titulo-font-weigth: 400;
    --texto-font-weight-200: 200;
    --texto-font-weight-400: 400;
    --texto-font-weight-600: 600;
    /*TAMANHOS*/
    --tamanho-icon-sidebar: 2rem;
    --h1-size-desktop: 3rem;
    --h2-size-desktop: 2.5rem;
    --h3-size-desktop: 2rem;
    --h1-size-mobile: 2rem;
    --links-sidebar-desktop: 1.2rem;
    --texto-size-desktop: 1rem;
    --texto-size-mobile: 0.85rem;
    --texto-size-footer-desktop: 0.85rem;
    --nav-link-desktop: 1rem;
    /*CORES DA MARCA*/
    --primary-color: #281765;
    --secondary-color: #019340;
    --tertiary: #EDEA42;
    /*CORES TEXTO*/
    --texto-branco: #fff;
    --texto-preto: #101010;
    /*CORES AUXILIARES*/
    --fundo-gerenciamento: #f6f5f8;
    --branco: #fff;
    --azul-sobreposicao: #1f0480;
    --tag-azul: #27BCFC;
    --tag-amarela: #DECC00;
    --tag-vermelha: #DB0000;
    --tag-laranja: #FF870F;
    --tag-verde: #019340;
}